*{
    padding: 0;
    margin: 0;   
}

html{
    background-color: #fbfbfb;
    color: #4c4545;
    background-image: url(images/headersmall.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

body{  
    width: 100%;
    height: 100%;
}

h1, h2, h3{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: center;
}

h1{
    font-weight: 900;
    font-size: 6em;
    line-height: 1.1;
}

h2{
    font-weight: 400;
    font-size: 2.5em;
    padding-bottom: 20px;
    line-height: 1.2
}

h3{
    font-size: 3em;
    font-weight: 400;
    text-align: left;
    line-height: 1.2em;
}

h4{
    font-family: 'Playfair Display';
    font-size: 2em;
    font-weight: 400;
    
}

h5{
    font-family: 'Lato';
    font-size: 1.5em;
    color: #ad9584;
    font-weight: 400;
    margin-top: 10px;
}

strong{
    font-weight: 900;
}

p{
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    line-height: 1.5em;
}


#header{
    padding-top: 10%;
    width: 100%;    
}

#header hr{
    width: 200px;
    margin-top: 30px;
}

hr{
    width:  200px;
    height: 2px;
    background-color: 4c4545;
    margin: 0 auto;
}

#intro{
    width: 80%;
    max-width: 700px;
    text-align: center;
    margin-top: 20%;
}

.center{
    margin: 0 auto;
}

.textCenter{
    text-align: center;
}

.bottom{
    margin-bottom: -10px;
}

#review-container{
    width: 80%;
    padding-top: 1%;
}

.review{
    margin-top: 30%;    
}

.review-photo{
    width: 100%;
    float: right;
    max-width: 700px;
    margin-bottom: -30%;
}

.review-text{ 
    clear: right;
}

.review-text p{
    font-size: 1.3em;
    margin-top: 20px;
    max-width: 750px;
}

.rating-container{
    overflow: hidden;   
}

.rating{
    width: 50%;
    min-width: 170px;
    font-size: .9em;
    font-style: italic;
    float: left;
    display: inline-block;    
}

.full{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 1px solid;
    border-color: #4c4545;
    background-color: #ad9584;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}

.empty{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 1px solid;
    border-color: #4c4545;
    background-color: none;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}

#footer{
    clear: both;
    width: 100%;
    border-top: 1px solid;
    margin-top: 15%;
    height: 50px;
    text-align: center;
}

#footer p{
    font-size: 1.1em;
    display: inline-block;
    line-height: normal;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}






/* Medium screen styles */

@media (min-width: 700px) {
  
    h1{
        font-size: 12em;
    }
    
    h2{
        font-size: 4.2em;
    }

    h3{
        font-size: 4em;
    }
    
    h4{
        font-size: 3em;
    }
    
    h5{
        font-size: 2em;
    }
    
    p{
        font-size: 1.8em;
    }
    
    .review-text p{
        font-size: 1.5em;
    }
    
}



/* Large screen styles*/
@media (min-width: 1000px) {
    
    html{
        background-image: url(images/header.jpg);
    }
    
    #header{
        padding-top: 15%;
    }
    
    #header hr{
        height: 5px;
        width: 350px;   
    }
    
    h1{
        font-size: 12em;
    }
    
    h2{
        font-size: 4em;
    }

    h3{
        font-size: 4.5em;
    }
    
    h4{
        font-size: 2.8em;
    }
    
    h5{
        font-size: 2em;
    }
    
    p{
        font-size: 1.7em;
    }
        
    .review-text p{
        font-size: 1.7em;
        max-width: 750px;
    }

}





/* Extra-large screen styles*/
@media (min-width: 1200px) {
    
    
    h1{
        font-size: 13em;
    }
    
    .review{
        width: 80%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
    }
    
    .review-photo{
        max-width: 700px;
        margin-bottom: -25%;
    }   
    
    #review-container{
        margin-top: -10%;
    }
   

}
